
<nav class="navbar navbar-expand-lg bg-body-tertiary body-px bg-color">
    <!-- <div class="container-fluid"> -->
      <a class="navbar-brand text-lg" href="#">HOMIES</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav d-flex justify-content-end align-items-center w-100">
          <li class="nav-item px-2">
            <a class="nav-link text-normal fw-300" routerLinkActive="active" routerLink="/home">Home</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link text-normal fw-300" routerLinkActive="active" routerLink="/aboutus">About Us</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link text-normal fw-300" routerLinkActive="active" routerLink="/shop">Shop</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link text-normal fw-300" routerLinkActive="active" routerLink="/contactus">Contact Us</a>
          </li>
          <li class="nav-item px-2" *ngIf="!this.userLogin">
            <a class="nav-link text-normal fw-300" routerLinkActive="active" routerLink="/signup">SignUp</a>
          </li>
          <li class="nav-item px-2 dropdown" *ngIf="this.userLogin">
            <a class="nav-link text-normal fw-300 dropdown-toggle profile-dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="/assets/images/profile-default.webp" alt="profile" class="profile-img">
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    <!-- </div> -->
</nav>