<div class="footer-section">
    <div class="row mx-0 body-px py-4">
        <div class="col-md-6">
            <h2 class="text-mute mt-5 mb-4">HOMIES</h2>
            <p class="mb-0 text-mute ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ex distinctio, nisi dolorum blanditiis sapiente nostrum eos pariatur perferendis exercitationem debitis eaque dicta sed itaque aut tempora, nemo assumenda voluptates?</p>
        </div>
        <div class="col-md-3">
            <ul class="mt-5">
                <li class="text-mute mb-2">
                    <span class="footer-nav-link pointer">
                        Shop
                    </span>
                </li>
                <li class="text-mute mb-2">
                    <span class="footer-nav-link pointer">
                        Profile
                    </span>
                </li>
                <li class="text-mute mb-2">
                    <span class="footer-nav-link pointer">
                        About Us
                    </span>
                </li>
                <li class="text-mute mb-2">
                    <span class="footer-nav-link pointer">
                        Contact Us
                    </span>
                </li>
                <li class="text-mute mb-2">
                    <span class="footer-nav-link pointer">
                        Reviews
                    </span>
                </li>
                <li class="text-mute mb-2">
                    <span class="footer-nav-link pointer">
                        FAQs
                    </span>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <p class="text-mute mt-5 mb-3">Contact Us:</p>
            <div class="row mx-0">
                <div class="col-auto px-1">
                    <button class="social-btn">
                        <i class="ri-instagram-line"></i> 
                    </button>
                </div>
                <div class="col-auto px-1">
                    <button class="social-btn">
                        <i class="ri-whatsapp-line"></i>
                    </button>
                </div>
                <div class="col-auto px-1">
                    <button class="social-btn">
                        <i class="ri-facebook-line"></i>
                    </button>
                </div>
                <div class="col-auto px-1">
                    <button class="social-btn">
                        <i class="ri-linkedin-line"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>