@import '../../variable.scss';

.sign-up-card{
    padding: 42px 60px;
}
.hr-text{
    &::before{
        content: "";
        border: 1px solid;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        right: 0;
    }
    span{
        background: $white-color;
        z-index: 1;
        position: relative;
        padding: 4px;
    }
}