/* You can add global styles to this file, and also import other style files */
@import './variable.scss';
*{
    font-family: $font-family;
    // background-color: $bg-color;
}

.bg-primary{
    background-color: $primary-color!important;
}
.bg-color{
    background-color: $bg-color!important;
}
.text-primary{
    color: $primary-color!important;
}
.text-white{
    color: $white-color!important;
}
.body-px{
    padding-left: 6%;
    padding-right: 6%;
}
.text-mute{
    color: $text-mute!important;
}
.text-lg{
    font-size: 26px;
}
.text-normal{
    font-size: 18px;
}
.fw-300{
    font-weight: 300;
}

.CTA-primary{
    background-color: $primary-color!important;
    color: $white-color!important;
    border-radius: 50px;
    padding: 12px 42px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.pointer{
    cursor: pointer!important;
}