$primary-color: #04060C;
$light-blue: #DEE3F2;
$bg-color: #F1F2F8;
$white-color: #fff;
$grey-color: #7F7B82;
$light-grey-color: #BEC1D0;
$text-mute: #757781;

$light-color: #D3DBDB;
$yellow-color: #EAB927;
$font-family:'Poppins', sans-serif;
