<app-header></app-header>
<div class="banner row mx-0">
    <div class="col-md-6 body-px d-flex flex-column justify-content-evenly">
        <div class="">
            <h2 class="banner-heading mb-4">Exotic minimal furniture.</h2>
            <p class="text-mute">Choose from a wide range of well-crafted premium quality wooden furniture online.</p>
        </div>
        <div class="mb-4">
            <button type="button" class="btn CTA-primary">Explore</button>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-6 d-flex justify-content-end px-0">
        <img src="/assets/images/banner-image.png" alt="banner" class="banner-image">
    </div>
</div>

<!-- <p class="banner">xzsfcz</p> -->